*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    --clr-primary: #172847;
    --clr-secondary: #C3DFE0;
    --clr-tertiary: #9DE253;
    --clr-accent: #3772FF;
    --clr-secondary-accent: #c00a16;
}

body {
    margin: 1em;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    line-height: 1.5;
}

.main-title {
    color: var(--clr-tertiary);
}



nav {
    background-color: var(--clr-secondary-accent);
}

img {
    max-width: 100%;
}