*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    --clr-primary: #172847;
    --clr-secondary: #c00a16; 
    --clr-tertiary: #3772FF;
    --clr-text: #C3DFE0;
    --clr-accent: #9DE253;
   
    
}

body {
    margin: 1em;
    background-color: var(--clr-primary);
    color: var(--clr-text);
    line-height: 1.5;
}

.main-title {
    color: var(--clr-accent);
}



nav {
    background-color: var(--clr-secondary);
    width: 100vw;
    height: auto;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-link{
    color: var(--clr-tertiary);
}

img {
    max-width: 100%;
}